#article {
    margin-bottom: 20px;
    .panel-heading {
        padding: 20px 10px 10px 0px;
        margin-left: 20px;
        margin-right: 20px;
        .panel-title {
            font-size: 26px;
            padding-left: 0;
        }
        .post-meta {
            margin-top: 10px;
            span {
                font-size: 13px;
                margin: 15px 10px 0 0;
                color: #b6b6b6;
                a{
                    color: #b6b6b6;
                }
                i{
                    color: #ffb80d;
                }
            }
        }
    }
    .panel-body {
        p {
            font-size: 16px;
            text-indent: 32px;
        }
        img {
            max-width: 90%;
            box-shadow: 2px 2px 3px #424242;
        }
    }
    .panel-footer{
        .btn{
            max-width: 50%;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
    .article-comment {
        border-top: solid 1px #eaeaea;
        padding: 15px;
        background-color: #FFFFFF;
    }
}
