#categories{
    #p2{
        width: auto;
    }
    .panel {
        .panel-heading{
            .panel-title{
                font-size: 28px;
            }
        }
        .panel-body{
            li {
                font-size: 16px;
                margin-bottom: 10px;
            }
        }
    }
    @media screen and (min-width: 992px){
        .panel{
            min-height: 420px;
        }
    }
}
