#footer {
    overflow: hidden;
    padding: 40px 0 15px 0;
    color: #fff;
    .row{
        border-top: 2px solid #000000;
        padding-top: 20px;
        margin: 0 15px;
        a{
            text-decoration: underline;
            color: #fcfcfc;
        }
    }
}
