#navbar{
    background-color: #337ab7;
    border: none;
    .navbar-header{
        .navbar-toggle{
            background-color: #337ab7;
            border: none;
            .icon-bar{
                background-color: #fff;
            }
        }
    }
    span,a{
        color: #fff;
    }
    a:hover{
        color: #eaeaea;
    }
    .navbar-right{
        padding-right: 0;
        overflow: hidden;
    }
}
