#navbar {
    .top{
        height: 30px;
        background-color: #1b1a20;
    }
    background: url("/assets/images/navbar-bg.png") repeat-y;
    border: none;
    box-shadow: 1px 0 3px #000;
    .navbar-header {
        .navbar-toggle {
            background-color: transparent;
            border: none;
            .icon-bar {
                background-color: #fff;
            }
        }
        .navbar-brand {
            padding-top: 0px;
            padding-left: 0;
            img {
                max-height: 50px;
            }
        }
    }
    span, a {
        color: #fff;
    }
    a:hover {
        color: #eaeaea;
    }
    .navbar-right {
        padding-right: 0;
        overflow: hidden;
    }
}
