#sidebar {
    .panel-heading{
        h1,h2,h3,h4,h5,h6{
            display: inline-block;
        }
        button{
            margin-top: -6px;
        }
    }
    #category{
        ul{
            list-style: none;
            li{
                display: inline-block;
                margin-bottom: 10px;
                button{
                    text-transform: uppercase;
                    .badge{
                        background-color: #337ab7;
                        border-radius: 50% !important;
                    }
                }
            }
        }
    }
}
