li{vertical-align:top;}

.container{width:1200px !important;}

.fixed{position: static;}
.fixedPadding{padding-top:0;}
.fixedShadow{border-bottom: 1px #EEE solid;}


.home h2{height:36px;}
#row-1{background-image: url('../images/bg-top.png');}
header .logo{}
.banner{min-width:1200px;width:100%;}
.nav-icon svg{display:none;}
.nav-icon ul,#nav-top,.banner{min-width: 960px !important;}
.nav-icon ul,#nav-line ul{border: 1px #dedede solid;}
#nav-icon.nav-icon ul{border: none}
.nav-icon i{display: block;width: 64px;cursor: pointer;
    height: 64px;
    margin: 0 auto;
    margin-top: 10px;background: url('../images/icons.png') no-repeat;}
#ilzu-0{background-position: 0px 0;}
#ilzu-1{background-position: -100px 0;}
#ilzu-2{background-position: -200px 0;}
#ilzu-3{background-position: -300px 0;}
#ilzu-4{background-position: -400px 0;}
#ilzu-5{background-position: -500px 0;}
#ilzu-6{background-position: -600px 0;}
#ilzu-7{background-position: -700px 0;}

h2 i{display: block;float:left;width:30px;height:36px;background: url('../images/icons.png') no-repeat;}
h2 a{float: left;}
#ico2-1{background-position: 0px -92px;}
#ico2-2{background-position: -100px -92px;}
#ico2-3{background-position: -200px -92px;}
#ico2-4{background-position: -300px -92px;}
#ico2-5{background-position: -400px -92px;}
h2 i.ico-cloud-l{background-position: -600px -92px;width:36px;height:30px;}
h2 i.ico-cloud-r{background-position: -700px -92px;width:36px;height:30px;}
#SE-1 h2 em{width:90px;}
#SE-1 h2 i{margin:0 2px;}

#nav-top{border-bottom: 1px #dedede solid;}

#so-top input{border-width:0;float: left;}
#so-top button{background: url('../images/so.jpg') no-repeat center center;width:25px;height:30px;float: left}
#main-nav li.active ul{display:none;}

#banner-page p{font-family: 'Microsoft Yahei'}
#banner-page #banner-1 p{font-family: 'lzu'}

#focus{float: left;margin-right: 0}
#SE-1 #LZUnews{float: right;margin-left: 0;width:670px;overflow:hidden;}
#lecture li{height:40px;margin-bottom: 0;}
#subject{margin-left: 0;}
.partition #SE-3 #rec-media{margin-right: 0px;float: left;width:900px;}
#rec-media .per-2_1{width:450px;float: left;overflow: hidden;}
#subject li{background-color: #c7e4f1}
#SE-4 span{bottom:30px;}

#btm-icons div.ilzu{width:36px;background: url('../images/icons.png') no-repeat;cursor:pointer;height:40px;margin:0 auto;}
#btm-icons div.ilzu i{display:none;}
#ilzu-11{background-position: -300px -200px !important;}
#ilzu-12{background-position: -100px -200px !important;}
#ilzu-13{background-position: 0px -200px !important;}
#ilzu-14,#ilzu-15{background-position: -200px -200px !important;}
#ilzu-16{background-position: -400px -200px !important;}
#ilzu-17{background-position: -500px -200px !important;}
#ilzu-18{background-position: -600px -200px !important;}

#btm-icons div.ilzu img{display:none}
.btm-bg-x {background-image: url('../images/btm-bg-x.png');height:70px;margin-top:20px;}
#btm-icons li{width:75px;display:inline;float:left;}
#btm-logo-out{width:33%;}

#page-footer .logo{background-image: none;}
#conac{_display:none;}

#btm-icons li div{height:50px;}
#btm-icons ul2{width:780px !important;height:110px !important;margin-left: 0;margin: 0;}

footer{background-image: url('../images/btm-bg.jpg');}
footer address{margin-top: 30px !important;padding: 30px 0 !important;}
#home-footer .logo i,#home-footer .logo svg{display: none;}
footer #btm-icons .first{margin-left: 0px !important;}

.fhtl-animate .fhtl-content{padding-left: 100px;}

.cover .thumbnails dl{padding:0;margin:0;}
.cover .per dd,.cover .per dt{padding-left: 15px;padding-right: 15px;background-color: transparent;}
#cover-3 .thumbnails dd h3 a{color:#FFF !important;}
#page-cover .guoji #cover-1{background-position: center top}

.datas div{behavior: url('/res/css/ie-css3.htc');}

.container .col-9{width: 900px;}

.thumbnails dl{padding:0;}

.ico-top{background: url('../images/top.png') no-repeat center center;}

#team .jcarousel-next-horizontal{background-image: url('../images/right.jpg') !important;}
#team .jcarousel-prev-horizontal{background-image: url('../images/left.jpg') !important;}
#page-cover .per-4_1{width:24.9%;overflow:hidden;}


#nav-keyan-img dd{filter:progid:DXImageTransform.Microsoft.gradient(enabled='true', startColorstr='#44000000', endColorstr='#44000000'); bottom:-1px; }
.thumbnails dd{height:38px;padding:0 20px !important;line-height: 38px;}
.guan-auto article{padding:50px 0 !important;margin:0 !important;width:100%;}

.nav-icon ul{filter: progid:DXImageTransform.Microsoft.Shadow(color='#666666', Direction=135, Strength=3);}

