---
layout: default
---
<div id="article" class="panel panel-default">
    <div class="panel-heading">
        <h1 class="panel-title">{{ page.title }}</h1>

        <div class="post-meta">
            <span class="label">
                <i class="fa fa-calendar"></i>
                <span>{{ page.date | date: "%Y-%m-%d" }}</span>
            </span>
            {% if page.categories %}
            <span class="label">
                <i class="fa fa-folder"></i>
                {% for category in page.categories %}
                <a class="categoryBtn" category="{{ category }}">{{ category }}</a>
                {% endfor %}
            </span>
            {% endif %}
            {% if page.author %}
            <span class="label">
                <i class="fa fa-user"></i>
                <span>{{ page.author }}</span>
            </span>
            {% endif %}
            {% if page.meta %}
            <span class="label">
                <i class="fa fa-info"></i>
                <span>{{ page.meta }}</span>
            </span>
            {% endif %}
        </div>
    </div>

    <article class="panel-body">
        {{ content }}
    </article>

    <div class="panel-footer">
        {% if page.previous %}
        <a class="btn btn-default" href="{{ BASE_PATH }}{{ page.previous.url }}">
            上一篇：{{ page.previous.title }}
        </a>
        {% else %}
        <a class="btn btn-default disabled">
            这是第一篇了
        </a>
        {% endif %}

        {% if page.next %}
        <a class="btn btn-default pull-right" href="{{ BASE_PATH }}{{ page.next.url }}">
            下一篇：{{ page.next.title }}
        </a>
        {% else %}
        <a class="btn btn-default disabled pull-right">
            这是最后一篇了
        </a>
        {% endif %}
    </div>
    {% include content/comment.html %}
</div>

