<div id="category" class="panel panel-default">
    <div class="panel-top">
        <h5>课程分类</h5>
        <button aria-expanded="true" class="btn-icon pull-right expandableBtn">
            <i class="fa fa-chevron-down"></i>
        </button>
    </div>
    <ul class="panel-body">
        {% for category in site.categories %}
        <li>
            <button class="btn btn-default categoryBtn" category="{{ category | first }}">
                {{ category[0] }} &nbsp; <span class="badge">{{ category | last | size }}</span>
            </button>
        </li>
        {% endfor %}
    </ul>
</div>
